@using GIBS.Module.SiteStripe.Models

@namespace GIBS.Module.SiteStripe.List
@inherits ModuleBase
@implements Oqtane.Interfaces.ISettingsControl
@inject ISettingService SettingService
@inject IStringLocalizer<Settings> Localizer

<div class="container">

    <div class="row mb-1 align-items-center">
        <label class="col-sm-3 col-form-label" for="displaytemplate">Display Template:</label>
        <div class="col-sm-9">
            <select id="displaytemplate" class="form-select" @bind="_settings.DisplayTemplate">
                <option value="TextOnly">TextOnly</option>
                <option value="SmallCard">SmallCard</option>
                <option value="Showcase">Showcase</option>
                <option value="Carousel">Carousel</option>
            </select>
        </div>
    </div>

    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="storeid" HelpText="Amazon Associate tracking tag" ResourceKey="StoreID" ResourceType="@resourceType">StoreID:</Label>
        <div class="col-sm-9">
            <input id="storeid" type="text" class="form-control" @bind="_settings.StoreID" />
        </div>
    </div>

    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="defaultbuttontext" HelpText="Default call-to-action text" ResourceKey="DefaultButtonText" ResourceType="@resourceType">Default Button Text:</Label>
        <div class="col-sm-9">
            <input id="defaultbuttontext" type="text" class="form-control" @bind="_settings.DefaultButtonText" />
        </div>
    </div>

    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="defaultdisclosurestatement" HelpText="FTC disclosure statement" ResourceKey="DefaultDisclosureStatement" ResourceType="@resourceType">Default Disclosure Statement:</Label>
        <div class="col-sm-9">
            <textarea id="defaultdisclosurestatement" class="form-control" rows="3" @bind="_settings.DefaultDisclosureStatement"></textarea>
        </div>
    </div>

    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="pagesize" HelpText="Number of items per page" ResourceKey="PageSize" ResourceType="@resourceType">Page Size:</Label>
        <div class="col-sm-9">
            <input id="pagesize" type="number" class="form-control" @bind="_settings.PageSize" />
        </div>
    </div>

    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="numbervisible" HelpText="Number of items to display" ResourceKey="NumberVisible" ResourceType="@resourceType">Number Visible:</Label>
        <div class="col-sm-9">
            <input id="numbervisible" type="number" class="form-control" @bind="_settings.NumberVisible" />
        </div>
    </div>

    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="imageheight" HelpText="Height of images in pixels" ResourceKey="ImageHeight" ResourceType="@resourceType">Image Height:</Label>
        <div class="col-sm-9">
            <input id="imageheight" type="text" class="form-control" @bind="_settings.ImageHeight" />
        </div>
    </div>

</div>

@code {
    private string resourceType = "GIBS.Module.SiteStripe.Settings, GIBS.Module.SiteStripe.Client.Oqtane";
    public override string Title => "SiteStripe Settings";

    private SiteStripeSettings _settings = new();
    // private string _displayTemplate;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            _settings.StoreID = SettingService.GetSetting(settings, nameof(SiteStripeSettings.StoreID), "");
            _settings.DefaultButtonText = SettingService.GetSetting(settings, nameof(SiteStripeSettings.DefaultButtonText), @"<i class=""bi bi-amazon""></i> View on Amazon");
            _settings.DefaultDisclosureStatement = SettingService.GetSetting(settings, nameof(SiteStripeSettings.DefaultDisclosureStatement), "This site is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com.");
            _settings.APICredentials = SettingService.GetSetting(settings, nameof(SiteStripeSettings.APICredentials), "");
            _settings.DisplayTemplate = SettingService.GetSetting(settings, nameof(SiteStripeSettings.DisplayTemplate), "");
            _settings.PageSize = SettingService.GetSetting(settings, nameof(SiteStripeSettings.PageSize), "8");
            _settings.NumberVisible = SettingService.GetSetting(settings, nameof(SiteStripeSettings.NumberVisible), "5");
            _settings.ImageHeight = SettingService.GetSetting(settings, nameof(SiteStripeSettings.ImageHeight), "200px;");
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }

    public async Task UpdateSettings()
    {
        try
        {
            var settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            settings = SettingService.SetSetting(settings, nameof(SiteStripeSettings.StoreID), _settings.StoreID);
            settings = SettingService.SetSetting(settings, nameof(SiteStripeSettings.DefaultButtonText), _settings.DefaultButtonText);
            settings = SettingService.SetSetting(settings, nameof(SiteStripeSettings.DefaultDisclosureStatement), _settings.DefaultDisclosureStatement);
            settings = SettingService.SetSetting(settings, nameof(SiteStripeSettings.APICredentials), _settings.APICredentials);
            settings = SettingService.SetSetting(settings, nameof(SiteStripeSettings.DisplayTemplate), _settings.DisplayTemplate);
            settings = SettingService.SetSetting(settings, nameof(SiteStripeSettings.PageSize), _settings.PageSize);
            settings = SettingService.SetSetting(settings, nameof(SiteStripeSettings.NumberVisible), _settings.NumberVisible);
            settings = SettingService.SetSetting(settings, nameof(SiteStripeSettings.ImageHeight), _settings.ImageHeight);
            await SettingService.UpdateModuleSettingsAsync(settings, ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }
}
