@using Oqtane.Modules.Controls
@using GIBS.Module.SiteStripe.Services
@using GIBS.Module.SiteStripe.Models

@namespace GIBS.Module.SiteStripe
@inherits ModuleBase
@inject ISiteStripeService ClientSiteStripeService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Edit> Localizer

<form @ref="form" class="@(validated ? " was-validated" : "needs-validation" )" novalidate>
    <div class="container">
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="name" HelpText="Enter a name" ResourceKey="Name">Name: </Label>
            <div class="col-sm-9">
                <input id="name" class="form-control" @bind="@_name" required />
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" @onclick="Save">@Localizer["Save"]</button>
    <NavLink class="btn btn-secondary" href="@NavigateUrl()">@Localizer["Cancel"]</NavLink>
    <br /><br />
    @if (PageState.Action == "Edit")
    {
    <AuditInfo CreatedBy="@_createdby" CreatedOn="@_createdon" ModifiedBy="@_modifiedby" ModifiedOn="@_modifiedon"></AuditInfo>
    }
</form>

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Edit;

    public override string Actions => "Add,Edit";

    public override string Title => "Manage SiteStripe";

    public override List<Resource> Resources => new List<Resource>()
    {
        new Stylesheet("_content/GIBS.Module.SiteStripe/Module.css")
    };

    private ElementReference form;
    private bool validated = false;

    private int _id;
    private string _name;
    private string _createdby;
    private DateTime _createdon;
    private string _modifiedby;
    private DateTime _modifiedon;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (PageState.Action == "Edit")
            {
                _id = Int32.Parse(PageState.QueryString["id"]);
                SiteStripe SiteStripe = await ClientSiteStripeService.GetSiteStripeAsync(_id, ModuleState.ModuleId);
                if (SiteStripe != null)
                {
                    _name = SiteStripe.Name;
                    _createdby = SiteStripe.CreatedBy;
                    _createdon = SiteStripe.CreatedOn;
                    _modifiedby = SiteStripe.ModifiedBy;
                    _modifiedon = SiteStripe.ModifiedOn;
                }
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading SiteStripe {SiteStripeId} {Error}", _id, ex.Message);
            AddModuleMessage(Localizer["Message.LoadError"], MessageType.Error);
        }
    }

    private async Task Save()
    {
        try
        {
            validated = true;
            var interop = new Oqtane.UI.Interop(JSRuntime);
            if (await interop.FormValid(form))
            {
                if (PageState.Action == "Add")
                {
                    SiteStripe SiteStripe = new SiteStripe();
                    SiteStripe.ModuleId = ModuleState.ModuleId;
                    SiteStripe.Name = _name;
                    SiteStripe = await ClientSiteStripeService.AddSiteStripeAsync(SiteStripe);
                    await logger.LogInformation("SiteStripe Added {SiteStripe}", SiteStripe);
                }
                else
                {
                    SiteStripe SiteStripe = await ClientSiteStripeService.GetSiteStripeAsync(_id, ModuleState.ModuleId);
                    SiteStripe.Name = _name;
                    await ClientSiteStripeService.UpdateSiteStripeAsync(SiteStripe);
                    await logger.LogInformation("SiteStripe Updated {SiteStripe}", SiteStripe);
                }
                NavigationManager.NavigateTo(NavigateUrl());
            }
            else
            {
                AddModuleMessage(Localizer["Message.SaveValidation"], MessageType.Warning);
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving SiteStripe {Error}", ex.Message);
            AddModuleMessage(Localizer["Message.SaveError"], MessageType.Error);
        }
    }
}
